{% set servers = ntp.get('servers', ['pool.ntp.org']) %}
{% set iburst = ntp.get('iburst', True) %}
{# Require agreement across the configured sources, but never more than exist:
   a fixed minsources 3 breaks sync for anyone configuring 1-2 servers. #}
{% set minsources = ntp.get('minsources', [([servers|length, 3]|min), 1]|max) %}

{% for server in servers %}
server {{ server }}{% if iburst %} iburst{% endif %}
{% endfor %}

driftfile {{ ntp.get('driftfile', '/var/lib/chrony/drift') }}
makestep {{ ntp.get('makestep', '1.0 3') }}
rtcsync
leapsectz right/UTC
logdir /var/log/chrony
minsources {{ minsources }}
