{% set servers = ntp.get('servers', ['pool.ntp.org']) %}
{% set iburst = ntp.get('iburst', True) %}

{% for server in servers %}
server {{ server }}{% if iburst %} iburst{% endif %}
{% endfor %}

driftfile {{ ntp.get('driftfile', '/var/lib/chrony/drift') }}
makestep {{ ntp.get('makestep', '1.0 3') }}
rtcsync
keyfile /etc/chrony.keys
leapsectz right/UTC
logdir /var/log/chrony
minsources 3
